{% extends 'layout/home-layout.html.twig' %}

{% block app %}
  <div class="text-center space-y-6">
    <h1 class="text-4xl font-extrabold text-blue-700 drop-shadow-md">
      Welcome to <span class="text-blue-500">Vials Template</span>
    </h1>
    <p class="text-lg text-gray-700">
      This is my <span class="font-semibold text-blue-400 font-extrabold drop-shadow-md">MVC Template</span> — made with ❤️ and Tailwind.
    </p>
  </div>
{% endblock %}
